.card {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 48px;
    background-color: black;
    border-radius: 12px;
    & h2 {
        font-weight: 500;
        margin: 0;
    }
    .balanceText {
        font-size: 36px;
    }
}