.nav {
    flex: 0 0 100px;
    border-right: 1px solid #5454542a;
}

.navigationItemsContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    & .navItem {
        cursor: pointer;
    }
}
